/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Estilos para la navegación */
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


nav ul {
    list-style: none;
    padding: 10px;
    margin: 3px;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li a:hover {
    color: #fff;
    background-color: rgb(12, 51, 113);
    padding: 5px 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 15px;
}

/* Estilos para el contenido principal */
main {
    max-width: 800px;
    margin: 10px auto;
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
}

article {
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

article h2 {
    color: #333;
}

article p {
    color: #555;
    text-align: justify;
    margin: 2rem 0;
}

hr {
    border: #ccc 1px solid;
    margin: 50px 10px;
}
/* imagen responsive */
.responsive-image {
    max-width: 75%;
    height: auto;
    margin: 20px 5px;
}



/* Estilos para el pie de página */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: smaller;
}


